data/flows.json
[{"id":"1c4a0adf.6f1c6d","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"e4efdb3b.bee6e","type":"mqtt-broker","z":"","name":"diabolo","broker":"192.168.1.204","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a7b8465.37fcbc","type":"ui_tab","z":"1c4a0adf.6f1c6d","name":"Home","icon":"home","order":1},{"id":"136a4024.3f49f","type":"ui_group","z":"1c4a0adf.6f1c6d","name":"Metrics","tab":"5a7b8465.37fcbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e986a62c.1e0a88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8f53699.bbd128","type":"ui_group","z":"","name":"Vision","tab":"5a7b8465.37fcbc","disp":true,"width":"18","collapse":false},{"id":"f0a34f2f.71734","type":"mqtt-broker","z":"","name":"local","broker":"mqtt","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5cbd4649.35c31","type":"mqtt-broker","z":"","name":"satanas","broker":"satanas.local","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d6c52ce6.50572","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image camera","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":340,"wires":[[]]},{"id":"e16312c9.9d019","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/?/image/cam/image_array","qos":"1","broker":"f0a34f2f.71734","x":200,"y":340,"wires":[["582a043b.771e44"]]},{"id":"582a043b.771e44","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":340,"wires":[["d2b68e45.5ae3d8"]]},{"id":"d2b68e45.5ae3d8","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["d6c52ce6.50572"]]},{"id":"1b09714a.f8b747","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image contours","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":500,"wires":[[]]},{"id":"5cca6100.757598","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/?/image/img/contours","qos":"1","broker":"f0a34f2f.71734","x":180,"y":500,"wires":[["53cc356f.8203d4"]]},{"id":"53cc356f.8203d4","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":500,"wires":[["75801ff9.6d7f18"]]},{"id":"75801ff9.6d7f18","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["1b09714a.f8b747"]]},{"id":"59ae7fad.c3c3d8","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image processed","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":560,"wires":[[]]},{"id":"dcb1424d.98f408","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/diabolo/image/img/processed","qos":"1","broker":"f0a34f2f.71734","x":210,"y":560,"wires":[["6ae6e172.659de"]]},{"id":"6ae6e172.659de","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":560,"wires":[["a4d129e5.e0c21"]]},{"id":"a4d129e5.e0c21","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":560,"wires":[["59ae7fad.c3c3d8"]]},{"id":"f24d64c6.6d0b7","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/?/parts","qos":"1","broker":"f0a34f2f.71734","x":130,"y":720,"wires":[["3a663e19.3a6d1a"]]},{"id":"3a663e19.3a6d1a","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":350,"y":720,"wires":[["24aff43f.f36d9c"]]},{"id":"24aff43f.f36d9c","type":"function","z":"1c4a0adf.6f1c6d","name":"extract data","func":"var parts = msg.payload.payload;\nmsg.payload = parts;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":720,"wires":[["b5c91557.b49f3","177d96f7.09c639"]]},{"id":"b5c91557.b49f3","type":"ui_text","z":"1c4a0adf.6f1c6d","group":"136a4024.3f49f","order":0,"width":0,"height":0,"name":"","label":"Threshold limit","format":"{{msg.payload.threshold_limit}}","layout":"col-center","x":900,"y":700,"wires":[]},{"id":"177d96f7.09c639","type":"ui_gauge","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":0,"height":0,"gtype":"gage","title":"Throttle","label":"units","format":"{{ msg.payload['pilot/throttle'] | number:2 }}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.4","seg2":"0.8","x":890,"y":800,"wires":[]},{"id":"28ad500c.2db76","type":"mqtt out","z":"1c4a0adf.6f1c6d","name":"local","topic":"","qos":"1","retain":"true","broker":"f0a34f2f.71734","x":250,"y":160,"wires":[]},{"id":"e010a1c.f2ce86","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"#","qos":"0","broker":"e4efdb3b.bee6e","x":90,"y":160,"wires":[["28ad500c.2db76","8269327.c1290d"]]},{"id":"d6560013.65a8c8","type":"comment","z":"1c4a0adf.6f1c6d","name":"Fetch message to local server","info":"","x":170,"y":60,"wires":[]},{"id":"8269327.c1290d","type":"debug","z":"1c4a0adf.6f1c6d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":100,"wires":[]},{"id":"af29f58b.1b67e8","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/diabolo/image/cam/image_array","qos":"1","broker":"f0a34f2f.71734","x":210,"y":280,"wires":[["582a043b.771e44"]]},{"id":"602ace5b.e3293","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/diabolo/image/img/contours","qos":"1","broker":"f0a34f2f.71734","x":200,"y":440,"wires":[["53cc356f.8203d4"]]},{"id":"3623e690.af7902","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/?/image/img/processed","qos":"1","broker":"f0a34f2f.71734","x":190,"y":620,"wires":[["6ae6e172.659de"]]},{"id":"46499e9.375946","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/diabolo/parts","qos":"1","broker":"f0a34f2f.71734","x":150,"y":800,"wires":[["3a663e19.3a6d1a"]]}]