data/flows.json
[{"id":"1c4a0adf.6f1c6d","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"318e3463.53696c","type":"tab","label":"Video","disabled":false,"info":""},{"id":"ebd531d9.758928","type":"tab","label":"Throttle","disabled":false,"info":""},{"id":"3f82d2eb.45cfde","type":"tab","label":"Threshold","disabled":false,"info":""},{"id":"7c2be773.565628","type":"tab","label":"Config","disabled":false,"info":""},{"id":"e4efdb3b.bee6e","type":"mqtt-broker","z":"","name":"diabolo","broker":"192.168.1.204","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a7b8465.37fcbc","type":"ui_tab","z":"1c4a0adf.6f1c6d","name":"Home","icon":"home","order":1},{"id":"136a4024.3f49f","type":"ui_group","z":"1c4a0adf.6f1c6d","name":"Metrics","tab":"5a7b8465.37fcbc","order":2,"disp":true,"width":"6","collapse":false},{"id":"e986a62c.1e0a88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Fous du volant board","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8f53699.bbd128","type":"ui_group","z":"","name":"Vision","tab":"5a7b8465.37fcbc","order":1,"disp":true,"width":"20","collapse":false},{"id":"f0a34f2f.71734","type":"mqtt-broker","z":"","name":"local","broker":"mqtt","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5cbd4649.35c31","type":"mqtt-broker","z":"","name":"satanas","broker":"satanas.local","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"577102d8.1f508c","type":"ui_group","z":"","name":"Threshold","tab":"133766a1.36fce9","order":3,"disp":true,"width":"20","collapse":false},{"id":"36a57def.9cc8ea","type":"ui_group","z":"","name":"Commands","tab":"5a7b8465.37fcbc","order":3,"disp":true,"width":"6","collapse":false},{"id":"f13e3432.2fd838","type":"ui_group","z":"","name":"Throttle","tab":"4ade9889.40f6","order":2,"disp":true,"width":"20","collapse":false},{"id":"ea987d4e.ecb7d8","type":"ui_tab","z":"","name":"Config","icon":"dashboard","order":4},{"id":"8a925ff1.0199f8","type":"ui_group","z":"","name":"Load","tab":"ea987d4e.ecb7d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c48ffdf.bb5248","type":"ui_group","z":"","name":"Save","tab":"ea987d4e.ecb7d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4ade9889.40f6","type":"ui_tab","z":"","name":"Throttle","icon":"dashboard","order":3},{"id":"937f4f0d.72cca","type":"ui_group","z":"","name":"Vision","tab":"4ade9889.40f6","order":1,"disp":true,"width":"20","collapse":false},{"id":"c1ffaaaf.7ea33","type":"ui_group","z":"","name":"Metrics","tab":"4ade9889.40f6","order":3,"disp":true,"width":"6","collapse":false},{"id":"133766a1.36fce9","type":"ui_tab","z":"","name":"Threshold","icon":"dashboard","order":2},{"id":"3c7293c2.80a654","type":"ui_group","z":"","name":"Vision","tab":"133766a1.36fce9","order":2,"disp":true,"width":"20","collapse":false},{"id":"7a684cec.4d7894","type":"ui_group","z":"","name":"Metrics","tab":"133766a1.36fce9","order":3,"disp":true,"width":"6","collapse":false},{"id":"f24d64c6.6d0b7","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/+/parts","qos":"1","broker":"f0a34f2f.71734","x":130,"y":320,"wires":[["3a663e19.3a6d1a"]]},{"id":"3a663e19.3a6d1a","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":310,"y":320,"wires":[["24aff43f.f36d9c"]]},{"id":"24aff43f.f36d9c","type":"function","z":"1c4a0adf.6f1c6d","name":"extract data","func":"var parts = msg.payload.payload;\nmsg.payload = parts;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["6092201.7da46e","6b1249fe.e4dcb","16d9bcb5.acb273","24f18ef3.e6375a"]]},{"id":"177d96f7.09c639","type":"ui_gauge","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":0,"height":0,"gtype":"gage","title":"Throttle","label":"units","format":"{{ value | number:2 }}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0,4","seg2":"0,8","x":1260,"y":220,"wires":[]},{"id":"28ad500c.2db76","type":"mqtt out","z":"1c4a0adf.6f1c6d","name":"local","topic":"","qos":"1","retain":"true","broker":"f0a34f2f.71734","x":310,"y":160,"wires":[]},{"id":"e010a1c.f2ce86","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/#","qos":"0","broker":"e4efdb3b.bee6e","x":120,"y":160,"wires":[["28ad500c.2db76","8269327.c1290d"]]},{"id":"d6560013.65a8c8","type":"comment","z":"1c4a0adf.6f1c6d","name":"Fetch message to local server","info":"","x":170,"y":60,"wires":[]},{"id":"8269327.c1290d","type":"debug","z":"1c4a0adf.6f1c6d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":100,"wires":[]},{"id":"95dbd87.e3a4c28","type":"http in","z":"318e3463.53696c","name":"","url":"/video_camera","method":"get","upload":false,"swaggerDoc":"","x":630,"y":140,"wires":[["eed54432.c06578"]]},{"id":"2a4ccdd3.c8adb2","type":"comment","z":"318e3463.53696c","name":"camera","info":"","x":70,"y":140,"wires":[]},{"id":"eed54432.c06578","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":1020,"y":140,"wires":[["673c0a28.a8dcfc"]]},{"id":"6e401af1.ad1a44","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":830,"y":200,"wires":[["eed54432.c06578"]]},{"id":"41a77af8.dcbf44","type":"http in","z":"318e3463.53696c","name":"","url":"/video_contours","method":"get","upload":false,"swaggerDoc":"","x":640,"y":300,"wires":[["b71b5c62.a01e68"]]},{"id":"23c2e31c.b05e6c","type":"comment","z":"318e3463.53696c","name":"contours","info":"","x":80,"y":300,"wires":[]},{"id":"673c0a28.a8dcfc","type":"debug","z":"318e3463.53696c","name":"Encoder output","active":false,"console":"false","complete":"res","x":1220,"y":300,"wires":[]},{"id":"b71b5c62.a01e68","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":1020,"y":300,"wires":[["673c0a28.a8dcfc"]]},{"id":"c223a078.dae848","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["b71b5c62.a01e68"]]},{"id":"a5504881.c442d8","type":"comment","z":"318e3463.53696c","name":"Stream to all clients","info":"","x":150,"y":40,"wires":[]},{"id":"6092201.7da46e","type":"function","z":"1c4a0adf.6f1c6d","name":"pilot/throttle","func":"msg.payload = msg.payload['pilot/throttle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["b9843f1e.e75b28"]]},{"id":"41d5f97e.dd6b5","type":"ui_gauge","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":0,"height":0,"gtype":"gage","title":"Steering","label":"units","format":"{{ value | number:2 }}","min":"-1","max":"1","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":1260,"y":280,"wires":[]},{"id":"6b1249fe.e4dcb","type":"function","z":"1c4a0adf.6f1c6d","name":"pilot/angle","func":"msg.payload = msg.payload['pilot/angle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["3b3cd114.6b2dce"]]},{"id":"a5f9804e.70b25","type":"http in","z":"318e3463.53696c","name":"","url":"/video_processed","method":"get","upload":false,"swaggerDoc":"","x":640,"y":440,"wires":[["97071807.0acc3"]]},{"id":"158c8a24.90f366","type":"comment","z":"318e3463.53696c","name":"contours","info":"","x":80,"y":440,"wires":[]},{"id":"97071807.0acc3","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":1020,"y":440,"wires":[["673c0a28.a8dcfc"]]},{"id":"a46213d.034ba7","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["97071807.0acc3"]]},{"id":"b7834c20.bd1918","type":"json","z":"318e3463.53696c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":200,"wires":[["35260bb9.3206f4"]]},{"id":"35260bb9.3206f4","type":"function","z":"318e3463.53696c","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["6e401af1.ad1a44"]]},{"id":"8e805af6.2f9968","type":"mqtt in","z":"318e3463.53696c","name":"","topic":"fousduvolant/+/image/cam/image_array","qos":"1","broker":"f0a34f2f.71734","x":180,"y":200,"wires":[["b7834c20.bd1918"]]},{"id":"312f2021.3b569","type":"ui_template","z":"318e3463.53696c","group":"c8f53699.bbd128","name":"Image camera","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_camera\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":140,"wires":[[]]},{"id":"29f8a202.23620e","type":"ui_template","z":"318e3463.53696c","group":"c8f53699.bbd128","name":"Image processed","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_processed\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":250,"y":440,"wires":[[]]},{"id":"1637f06a.3517d8","type":"mqtt in","z":"318e3463.53696c","name":"","topic":"fousduvolant/+/image/img/processed","qos":"1","broker":"f0a34f2f.71734","x":170,"y":500,"wires":[["ec2c02ba.fb5a8"]]},{"id":"ec2c02ba.fb5a8","type":"json","z":"318e3463.53696c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":500,"wires":[["89711665.93862"]]},{"id":"89711665.93862","type":"function","z":"318e3463.53696c","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["a46213d.034ba7"]]},{"id":"1cdc2bf2.d276dc","type":"ui_template","z":"318e3463.53696c","group":"c8f53699.bbd128","name":"Image contours","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_contours\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":300,"wires":[[]]},{"id":"d0b27a81.1dfe9","type":"mqtt in","z":"318e3463.53696c","name":"","topic":"fousduvolant/+/image/img/contours","qos":"1","broker":"f0a34f2f.71734","x":160,"y":360,"wires":[["9a2fa2e9.7af458"]]},{"id":"9a2fa2e9.7af458","type":"json","z":"318e3463.53696c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":360,"wires":[["b9c7190.a7b1ee8"]]},{"id":"b9c7190.a7b1ee8","type":"function","z":"318e3463.53696c","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["c223a078.dae848"]]},{"id":"b9843f1e.e75b28","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":220,"wires":[["177d96f7.09c639"]]},{"id":"3b3cd114.6b2dce","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":280,"wires":[["41d5f97e.dd6b5"]]},{"id":"16d9bcb5.acb273","type":"link out","z":"1c4a0adf.6f1c6d","name":"part","links":["19fb800e.69ede","9565ee76.51ed5"],"x":635,"y":440,"wires":[]},{"id":"96198618.720fc","type":"ui_slider","z":"ebd531d9.758928","name":"Throttle Min","label":"Min  ({{  value | number:2 }})","group":"f13e3432.2fd838","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"1","step":"0.01","x":910,"y":440,"wires":[["a0c1b478.83e808"]]},{"id":"61238bd5.355f1c","type":"ui_slider","z":"ebd531d9.758928","name":"Throttle Max","label":"Max  ({{  value | number:2 }})","group":"f13e3432.2fd838","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"1","step":"0.01","x":910,"y":500,"wires":[["41237e4b.1d15e"]]},{"id":"d71904bc.349c78","type":"ui_slider","z":"ebd531d9.758928","name":"Throttle Safe Angle","label":"Safe Angle  ({{  value | number:2 }})","group":"f13e3432.2fd838","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"1","step":"0.01","x":930,"y":380,"wires":[["c83731c2.21a"]]},{"id":"781c20c1.5d8aa8","type":"ui_slider","z":"ebd531d9.758928","name":"Throttle Dangerous Angle","label":"Dangerous Angle  ({{  value | number:2 }})","group":"f13e3432.2fd838","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"1","step":"0.01","x":950,"y":320,"wires":[["e41c0cf1.0f924"]]},{"id":"4176b00d.f8c7c","type":"ui_switch","z":"ebd531d9.758928","name":"Throttle Compute from steering","label":"Compute from steering","group":"f13e3432.2fd838","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":160,"wires":[["3d709d6e.699502","e08117ad.aacb6"]]},{"id":"63d66ba0.743ef4","type":"function","z":"ebd531d9.758928","name":"enable when On","func":"var msg_enable = {};\nmsg_enable.topic= msg.topic;\nvar msg_disable = {};\nmsg_disable.topic= msg.topic;\n\nif (msg.payload) {\n    msg_enable.enabled = true;\n    msg_disable.enabled = false;\n}else {\n    msg_enable.enabled = false;\n    msg_disable.enabled = true;\n}\n\nreturn [msg_enable, msg_disable];","outputs":2,"noerr":0,"x":770,"y":260,"wires":[["d71904bc.349c78","781c20c1.5d8aa8"],[]],"outputLabels":["enable","disable"]},{"id":"19fb800e.69ede","type":"link in","z":"ebd531d9.758928","name":"throttle part","links":["16d9bcb5.acb273"],"x":75,"y":400,"wires":[["c91237c2.4a38b","c9c1f8a3.d8a06","e5c288bf.92dbd8","d029b04c.da511","2736d9b6.9d6d8e","57001988.9eccf8","749a7a99.2e6c74","e46c85ed.026a2"]]},{"id":"e5c288bf.92dbd8","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/min","func":"msg.payload = msg.payload['cfg/throttle/min'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["f23b1167.7b876"]]},{"id":"d029b04c.da511","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/max","func":"msg.payload = msg.payload['cfg/throttle/max'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["5abfa8fc.0b6b78"]]},{"id":"c91237c2.4a38b","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/angle/dangerous","func":"msg.payload = msg.payload['cfg/throttle/angle/dangerous'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["a448cdbd.f34c5"]]},{"id":"c9c1f8a3.d8a06","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/angle/safe","func":"msg.payload = msg.payload['cfg/throttle/angle/dangerous'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["43e9b17d.87eec8"]]},{"id":"a0c1b478.83e808","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/min","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1270,"y":440,"wires":[]},{"id":"41237e4b.1d15e","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/max","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1270,"y":500,"wires":[]},{"id":"e41c0cf1.0f924","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/angle/dangerous","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1310,"y":320,"wires":[]},{"id":"c83731c2.21a","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/angle/safe","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1290,"y":380,"wires":[]},{"id":"5abfa8fc.0b6b78","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":500,"wires":[["61238bd5.355f1c"]]},{"id":"f23b1167.7b876","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":440,"wires":[["96198618.720fc"]]},{"id":"43e9b17d.87eec8","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":380,"wires":[["d71904bc.349c78"]]},{"id":"a448cdbd.f34c5","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":320,"wires":[["781c20c1.5d8aa8"]]},{"id":"201c05b4.5f945a","type":"ui_switch","z":"ebd531d9.758928","name":"Throttle Stop on shock","label":"Stop on shock","group":"f13e3432.2fd838","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":940,"y":560,"wires":[["5dda3c44.00f29c"]]},{"id":"5dda3c44.00f29c","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/stop_on_shock","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1310,"y":560,"wires":[]},{"id":"2736d9b6.9d6d8e","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/stop_on_shock","func":"msg.payload = msg.payload['cfg/throttle/stop_on_shock'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["e5525d95.61a7e8"]]},{"id":"e5525d95.61a7e8","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":560,"wires":[["201c05b4.5f945a"]]},{"id":"f1ae38f6.d96098","type":"comment","z":"ebd531d9.758928","name":"Throttle","info":"","x":140,"y":60,"wires":[]},{"id":"57001988.9eccf8","type":"function","z":"ebd531d9.758928","name":"cfg/throttle/compute_from_steering","func":"msg.payload = msg.payload['cfg/throttle/compute_from_steering'];\n\nif(msg.payload === null){\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["d92f0a4d.6263a8"]]},{"id":"d92f0a4d.6263a8","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":160,"wires":[["4176b00d.f8c7c"]]},{"id":"3d709d6e.699502","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":260,"wires":[["63d66ba0.743ef4"]]},{"id":"e08117ad.aacb6","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/throttle/compute_from_steering","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1330,"y":160,"wires":[]},{"id":"cd09ce60.9982d","type":"function","z":"3f82d2eb.45cfde","name":"cfg/threshold/from_line","func":"msg.payload = msg.payload['cfg/threshold/from_line'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["e9f40e14.98cc78"]]},{"id":"c39969f6.d43968","type":"function","z":"3f82d2eb.45cfde","name":"cfg/threshold/dynamic/delta","func":"msg.payload = msg.payload['cfg/threshold/dynamic/delta'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["59270ce6.3271dc"]]},{"id":"45648441.fdd074","type":"ui_slider","z":"3f82d2eb.45cfde","name":"Threshold min","label":"Threshold min ({{ value }})","group":"577102d8.1f508c","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":"1","x":960,"y":340,"wires":[["e3d4c834.5b0668"]]},{"id":"8b165713.c3c28","type":"function","z":"3f82d2eb.45cfde","name":"cfg/threshold/limit/min","func":"msg.payload = msg.payload['cfg/threshold/limit/min'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["57278bd7.40eb54"]]},{"id":"e51484bb.d43c68","type":"ui_slider","z":"3f82d2eb.45cfde","name":"Threshold max","label":"Threshold max ({{ value }})","group":"577102d8.1f508c","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":960,"y":400,"wires":[["51fb1af2.61a484"]]},{"id":"a23955a4.27adc8","type":"function","z":"3f82d2eb.45cfde","name":"cfg/threshold/limit/max","func":"msg.payload = msg.payload['cfg/threshold/limit/max'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["6312f567.c07f6c"]]},{"id":"57278bd7.40eb54","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":340,"wires":[["45648441.fdd074"]]},{"id":"6312f567.c07f6c","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":400,"wires":[["e51484bb.d43c68"]]},{"id":"e3d4c834.5b0668","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/threshold/min","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1220,"y":340,"wires":[]},{"id":"51fb1af2.61a484","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/threshold/max","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1220,"y":400,"wires":[]},{"id":"da98dc43.e7eb","type":"ui_switch","z":"3f82d2eb.45cfde","name":"","label":"Dynamic Threshold","group":"577102d8.1f508c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":80,"wires":[["1f4beb3.be19695","c4509fc2.db3358"]]},{"id":"1f4beb3.be19695","type":"function","z":"3f82d2eb.45cfde","name":"enable when On","func":"var msg_enable = {};\nmsg_enable.topic= msg.topic;\nvar msg_disable = {};\nmsg_disable.topic= msg.topic;\n\nif (msg.payload) {\n    msg_enable.enabled = true;\n    msg_disable.enabled = false;\n}else {\n    msg_enable.enabled = false;\n    msg_disable.enabled = true;\n}\n\nreturn [msg_enable, msg_disable];","outputs":2,"noerr":0,"x":670,"y":140,"wires":[["3f04646.6752a9c","f45e7e2b.b02ec8"],["45648441.fdd074","e51484bb.d43c68"]],"outputLabels":["enable","disable"]},{"id":"3f04646.6752a9c","type":"ui_slider","z":"3f82d2eb.45cfde","name":"Threshold delta","label":"Threshold delta ({{ value }})","group":"577102d8.1f508c","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"1","max":"100","step":"1","x":960,"y":220,"wires":[["f8d86a7.d3b1618"]]},{"id":"59270ce6.3271dc","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":220,"wires":[["3f04646.6752a9c"]]},{"id":"e9f40e14.98cc78","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":280,"wires":[["f45e7e2b.b02ec8"]]},{"id":"f45e7e2b.b02ec8","type":"ui_slider","z":"3f82d2eb.45cfde","name":"Threshold Line Value","label":"Threshold Line Value ({{ value }})","group":"577102d8.1f508c","order":3,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"255","step":"1","x":980,"y":280,"wires":[["276011eb.da5d66"]]},{"id":"f8d86a7.d3b1618","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/threshold/delta","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1220,"y":220,"wires":[]},{"id":"276011eb.da5d66","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/threshold/default","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1230,"y":280,"wires":[]},{"id":"c4509fc2.db3358","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/threshold/dynamic_enabled","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1220,"y":80,"wires":[]},{"id":"9565ee76.51ed5","type":"link in","z":"3f82d2eb.45cfde","name":"Threhold part","links":["16d9bcb5.acb273"],"x":75,"y":320,"wires":[["c39969f6.d43968","cd09ce60.9982d","8b165713.c3c28","a23955a4.27adc8","295e24f1.26f85c","1b89f4c7.f5f573"]]},{"id":"b766e59a.f0e26","type":"mqtt out","z":"1c4a0adf.6f1c6d","name":"car","topic":"","qos":"1","retain":"true","broker":"e4efdb3b.bee6e","x":730,"y":100,"wires":[]},{"id":"2095260f.5b649a","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"config/#","qos":"0","broker":"f0a34f2f.71734","x":510,"y":100,"wires":[["b766e59a.f0e26"]]},{"id":"558aa033.a3fa18","type":"ui_dropdown","z":"7c2be773.565628","name":"","label":"","place":"Select option","group":"8a925ff1.0199f8","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":740,"y":180,"wires":[["d658b38.ff59bd"]]},{"id":"26c479eb.cad196","type":"file","z":"7c2be773.565628","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":690,"y":460,"wires":[]},{"id":"dc10253b.c4b2d8","type":"ui_form","z":"7c2be773.565628","name":"Save form","label":"Save","group":"2c48ffdf.bb5248","order":0,"width":0,"height":0,"options":[{"label":"File name","value":"file_name","type":"text","required":true}],"formValue":{"file_name":""},"payload":"","topic":"","x":230,"y":460,"wires":[["a6de73d0.668c68"]]},{"id":"3d143291.131cce","type":"link in","z":"7c2be773.565628","name":"","links":[],"x":175,"y":340,"wires":[["f9892fbb.d0894"]]},{"id":"f9892fbb.d0894","type":"function","z":"7c2be773.565628","name":"Save last part in context","func":"flow.set('last_part', msg)\nreturn msg;","outputs":0,"noerr":0,"x":410,"y":340,"wires":[]},{"id":"a6de73d0.668c68","type":"function","z":"7c2be773.565628","name":"Read last part in context","func":"var filename = msg.payload.file_name;\n\nmsg = flow.get('last_part');\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["26c479eb.cad196"]]},{"id":"2cb61f97.ecce98","type":"ui_button","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":"6","height":"2","passthru":false,"label":"Autopilot","color":"","bgcolor":"green","icon":"","payload":"local","payloadType":"str","topic":"","x":1260,"y":360,"wires":[["ee118b00.327798"]]},{"id":"747bbebb.aa77d8","type":"ui_button","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":"6","height":"2","passthru":false,"label":"Stop","color":"","bgcolor":"red","icon":"","payload":"user","payloadType":"str","topic":"","x":1250,"y":420,"wires":[["ee118b00.327798"]]},{"id":"24f18ef3.e6375a","type":"function","z":"1c4a0adf.6f1c6d","name":"user/mode","func":"msg.payload = msg.payload['user/mode'];\n\nmsg_user = null;\nmsg_autopilot = null;\n\nif(msg.payload === 'user'){\n    msg_user = msg;\n}else{\n    msg_autopilot = msg;\n}\n\nreturn [msg_autopilot, msg_user];","outputs":2,"noerr":0,"x":690,"y":380,"wires":[["20071e41.5657c2","619500b1.a39b6"],["15c2ebf3.f1fbac","e9211e8c.affb4"]],"outputLabels":["autopilot","user"]},{"id":"aafab0ce.251bf","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"enabled","x":1070,"y":360,"wires":[["2cb61f97.ecce98"]]},{"id":"1f507d6.8abe283","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"enabled","x":1070,"y":420,"wires":[["747bbebb.aa77d8","e818a7a9.8fe568"]]},{"id":"ee118b00.327798","type":"mqtt out","z":"1c4a0adf.6f1c6d","name":"","topic":"config/drive/mode","qos":"0","retain":"","broker":"f0a34f2f.71734","x":1490,"y":380,"wires":[]},{"id":"20071e41.5657c2","type":"function","z":"1c4a0adf.6f1c6d","name":"enable","func":"msg.enabled = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":320,"wires":[["1f507d6.8abe283"]]},{"id":"619500b1.a39b6","type":"function","z":"1c4a0adf.6f1c6d","name":"disable","func":"msg.enabled = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":360,"wires":[["aafab0ce.251bf"]]},{"id":"e9211e8c.affb4","type":"function","z":"1c4a0adf.6f1c6d","name":"enable","func":"msg.enabled = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["aafab0ce.251bf"]]},{"id":"15c2ebf3.f1fbac","type":"function","z":"1c4a0adf.6f1c6d","name":"disable","func":"msg.enabled = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":420,"wires":[["1f507d6.8abe283"]]},{"id":"d30112c3.e416b8","type":"fs-file-lister","z":"7c2be773.565628","name":"List /data/config","start":"/data/config","pattern":"*.json","path":true,"single":true,"depth":0,"stat":false,"x":320,"y":180,"wires":[["62d0e143.2e1168"]]},{"id":"8962286d.c6813","type":"watch","z":"7c2be773.565628","name":"","files":"/data/config","recursive":"","x":130,"y":220,"wires":[["d30112c3.e416b8"]]},{"id":"cfcc318b.9db788","type":"inject","z":"7c2be773.565628","name":"Started!","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":140,"wires":[["d30112c3.e416b8"]]},{"id":"62d0e143.2e1168","type":"function","z":"7c2be773.565628","name":"Set options","func":"msg.options = msg.payload;\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["558aa033.a3fa18"]]},{"id":"d658b38.ff59bd","type":"debug","z":"7c2be773.565628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":180,"wires":[]},{"id":"9866d683.9f1288","type":"ui_template","z":"ebd531d9.758928","group":"937f4f0d.72cca","name":"Image camera","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_camera\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":60,"wires":[[]]},{"id":"ac69e21b.23dce","type":"ui_template","z":"ebd531d9.758928","group":"937f4f0d.72cca","name":"Image processed","order":2,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_processed\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":60,"wires":[[]]},{"id":"7e276925.c64c18","type":"ui_gauge","z":"ebd531d9.758928","name":"","group":"c1ffaaaf.7ea33","order":1,"width":0,"height":0,"gtype":"gage","title":"Throttle","label":"units","format":"{{ value | number:2 }}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0,4","seg2":"0,8","x":860,"y":660,"wires":[]},{"id":"749a7a99.2e6c74","type":"function","z":"ebd531d9.758928","name":"pilot/throttle","func":"msg.payload = msg.payload['pilot/throttle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":660,"wires":[["9931b400.f5285"]]},{"id":"8c856a85.d3b81","type":"ui_gauge","z":"ebd531d9.758928","name":"","group":"c1ffaaaf.7ea33","order":2,"width":0,"height":0,"gtype":"gage","title":"Steering","label":"units","format":"{{ value | number:2 }}","min":"-1","max":"1","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":860,"y":720,"wires":[]},{"id":"e46c85ed.026a2","type":"function","z":"ebd531d9.758928","name":"pilot/angle","func":"msg.payload = msg.payload['pilot/angle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["c2673e1d.a50b7"]]},{"id":"9931b400.f5285","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":660,"wires":[["7e276925.c64c18"]]},{"id":"c2673e1d.a50b7","type":"rbe","z":"ebd531d9.758928","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":720,"wires":[["8c856a85.d3b81"]]},{"id":"477596f1.073058","type":"ui_template","z":"ebd531d9.758928","group":"937f4f0d.72cca","name":"Image contours","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_contours\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":60,"wires":[[]]},{"id":"88e9125.1ec4f7","type":"ui_button","z":"ebd531d9.758928","name":"","group":"c1ffaaaf.7ea33","order":0,"width":"6","height":"2","passthru":false,"label":"Stop","color":"","bgcolor":"red","icon":"","payload":"user","payloadType":"str","topic":"","x":270,"y":780,"wires":[["65732a5f.a7c994"]]},{"id":"65732a5f.a7c994","type":"mqtt out","z":"ebd531d9.758928","name":"","topic":"config/drive/mode","qos":"0","retain":"","broker":"f0a34f2f.71734","x":670,"y":780,"wires":[]},{"id":"b2a9b839.5c9688","type":"ui_template","z":"3f82d2eb.45cfde","group":"3c7293c2.80a654","name":"Image camera","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_camera\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":40,"wires":[[]]},{"id":"6f866ed5.4f7478","type":"ui_template","z":"3f82d2eb.45cfde","group":"3c7293c2.80a654","name":"Image processed","order":2,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_processed\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":40,"wires":[[]]},{"id":"c19507dd.fb88","type":"ui_template","z":"3f82d2eb.45cfde","group":"3c7293c2.80a654","name":"Image contours","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_contours\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":40,"wires":[[]]},{"id":"cc4c1365.81eff8","type":"ui_gauge","z":"3f82d2eb.45cfde","name":"","group":"7a684cec.4d7894","order":1,"width":0,"height":0,"gtype":"gage","title":"Throttle","label":"units","format":"{{ value | number:2 }}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0,4","seg2":"0,8","x":900,"y":480,"wires":[]},{"id":"295e24f1.26f85c","type":"function","z":"3f82d2eb.45cfde","name":"pilot/throttle","func":"msg.payload = msg.payload['pilot/throttle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["de377164.8b03d8"]]},{"id":"eb84575f.3d49b","type":"ui_gauge","z":"3f82d2eb.45cfde","name":"","group":"7a684cec.4d7894","order":2,"width":0,"height":0,"gtype":"gage","title":"Steering","label":"units","format":"{{ value | number:2 }}","min":"-1","max":"1","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":900,"y":540,"wires":[]},{"id":"1b89f4c7.f5f573","type":"function","z":"3f82d2eb.45cfde","name":"pilot/angle","func":"msg.payload = msg.payload['pilot/angle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["1f145593.89a5b2"]]},{"id":"de377164.8b03d8","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":480,"wires":[["cc4c1365.81eff8"]]},{"id":"1f145593.89a5b2","type":"rbe","z":"3f82d2eb.45cfde","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":540,"wires":[["eb84575f.3d49b"]]},{"id":"8cd50068.6be84","type":"ui_button","z":"3f82d2eb.45cfde","name":"","group":"7a684cec.4d7894","order":0,"width":"6","height":"2","passthru":false,"label":"Stop","color":"","bgcolor":"red","icon":"","payload":"user","payloadType":"str","topic":"","x":310,"y":600,"wires":[["92b3d5ae.747ec"]]},{"id":"92b3d5ae.747ec","type":"mqtt out","z":"3f82d2eb.45cfde","name":"","topic":"config/drive/mode","qos":"0","retain":"","broker":"f0a34f2f.71734","x":710,"y":600,"wires":[]},{"id":"e1dbc4a8.ded39","type":"link in","z":"3f82d2eb.45cfde","name":"Threshold stop","links":["e818a7a9.8fe568"],"x":75,"y":600,"wires":[["8cd50068.6be84"]]},{"id":"536af4d7.4dfc34","type":"link in","z":"ebd531d9.758928","name":"throttle stop","links":["e818a7a9.8fe568"],"x":75,"y":780,"wires":[["88e9125.1ec4f7"]]},{"id":"e818a7a9.8fe568","type":"link out","z":"1c4a0adf.6f1c6d","name":"Display Stop boutton","links":["536af4d7.4dfc34","e1dbc4a8.ded39"],"x":1215,"y":460,"wires":[]}]