data/flows.json
[{"id":"1c4a0adf.6f1c6d","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"318e3463.53696c","type":"tab","label":"Video","disabled":false,"info":""},{"id":"e4efdb3b.bee6e","type":"mqtt-broker","z":"","name":"diabolo","broker":"192.168.1.204","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a7b8465.37fcbc","type":"ui_tab","z":"1c4a0adf.6f1c6d","name":"Home","icon":"home","order":1},{"id":"136a4024.3f49f","type":"ui_group","z":"1c4a0adf.6f1c6d","name":"Metrics","tab":"5a7b8465.37fcbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e986a62c.1e0a88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8f53699.bbd128","type":"ui_group","z":"","name":"Vision","tab":"5a7b8465.37fcbc","disp":true,"width":"18","collapse":false},{"id":"f0a34f2f.71734","type":"mqtt-broker","z":"","name":"local","broker":"mqtt","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5cbd4649.35c31","type":"mqtt-broker","z":"","name":"satanas","broker":"satanas.local","port":"1883","clientid":"nodered-","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d6c52ce6.50572","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image camera","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_camera\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":340,"wires":[[]]},{"id":"1b09714a.f8b747","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image contours","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_contours\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":500,"wires":[[]]},{"id":"5cca6100.757598","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/+/image/img/contours","qos":"1","broker":"f0a34f2f.71734","x":180,"y":500,"wires":[["53cc356f.8203d4"]]},{"id":"53cc356f.8203d4","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":500,"wires":[["75801ff9.6d7f18"]]},{"id":"75801ff9.6d7f18","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["273de34b.b5e894"]]},{"id":"59ae7fad.c3c3d8","type":"ui_template","z":"1c4a0adf.6f1c6d","group":"c8f53699.bbd128","name":"Image processed","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"../video_processed\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1090,"y":560,"wires":[[]]},{"id":"dcb1424d.98f408","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/+/image/img/processed","qos":"1","broker":"f0a34f2f.71734","x":190,"y":560,"wires":[["6ae6e172.659de"]]},{"id":"6ae6e172.659de","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":560,"wires":[["a4d129e5.e0c21"]]},{"id":"a4d129e5.e0c21","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":560,"wires":[["e60f4471.6027e"]]},{"id":"f24d64c6.6d0b7","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/+/parts","qos":"1","broker":"f0a34f2f.71734","x":130,"y":720,"wires":[["3a663e19.3a6d1a"]]},{"id":"3a663e19.3a6d1a","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":350,"y":720,"wires":[["24aff43f.f36d9c"]]},{"id":"24aff43f.f36d9c","type":"function","z":"1c4a0adf.6f1c6d","name":"extract data","func":"var parts = msg.payload.payload;\nmsg.payload = parts;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":720,"wires":[["6092201.7da46e","6b1249fe.e4dcb","5b906e2e.cdab1","175087d7.f5b628","36176800.4dc03","a7cc7913.e0a668"]]},{"id":"b5c91557.b49f3","type":"ui_text","z":"1c4a0adf.6f1c6d","group":"136a4024.3f49f","order":0,"width":0,"height":0,"name":"","label":"Threshold default","format":"{{ value }}","layout":"col-center","x":1030,"y":700,"wires":[]},{"id":"177d96f7.09c639","type":"ui_gauge","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":0,"height":0,"gtype":"gage","title":"Throttle","label":"units","format":"{{ value | number:2 }}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0,4","seg2":"0,8","x":880,"y":860,"wires":[]},{"id":"28ad500c.2db76","type":"mqtt out","z":"1c4a0adf.6f1c6d","name":"local","topic":"","qos":"1","retain":"true","broker":"f0a34f2f.71734","x":250,"y":160,"wires":[]},{"id":"e010a1c.f2ce86","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"#","qos":"0","broker":"e4efdb3b.bee6e","x":90,"y":160,"wires":[["28ad500c.2db76","8269327.c1290d"]]},{"id":"d6560013.65a8c8","type":"comment","z":"1c4a0adf.6f1c6d","name":"Fetch message to local server","info":"","x":170,"y":60,"wires":[]},{"id":"8269327.c1290d","type":"debug","z":"1c4a0adf.6f1c6d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":100,"wires":[]},{"id":"95dbd87.e3a4c28","type":"http in","z":"318e3463.53696c","name":"","url":"/video_camera","method":"get","upload":false,"swaggerDoc":"","x":630,"y":140,"wires":[["eed54432.c06578"]]},{"id":"2a4ccdd3.c8adb2","type":"comment","z":"318e3463.53696c","name":"camera","info":"","x":170,"y":140,"wires":[]},{"id":"eed54432.c06578","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":821,"y":140,"wires":[["673c0a28.a8dcfc"]]},{"id":"bc222da0.b477e8","type":"link out","z":"1c4a0adf.6f1c6d","name":"","links":["e952c42f.db5998"],"x":875,"y":340,"wires":[]},{"id":"e952c42f.db5998","type":"link in","z":"318e3463.53696c","name":"video/camera","links":["bc222da0.b477e8"],"x":175,"y":200,"wires":[["6e401af1.ad1a44"]]},{"id":"6e401af1.ad1a44","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["eed54432.c06578"]]},{"id":"41a77af8.dcbf44","type":"http in","z":"318e3463.53696c","name":"","url":"/video_contours","method":"get","upload":false,"swaggerDoc":"","x":640,"y":300,"wires":[["b71b5c62.a01e68"]]},{"id":"23c2e31c.b05e6c","type":"comment","z":"318e3463.53696c","name":"contours","info":"","x":180,"y":300,"wires":[]},{"id":"673c0a28.a8dcfc","type":"debug","z":"318e3463.53696c","name":"Encoder output","active":true,"console":"false","complete":"res","x":1100,"y":300,"wires":[]},{"id":"b71b5c62.a01e68","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":821,"y":300,"wires":[["673c0a28.a8dcfc"]]},{"id":"6668e381.abc15c","type":"link in","z":"318e3463.53696c","name":"video/contours","links":["273de34b.b5e894"],"x":175,"y":360,"wires":[["c223a078.dae848"]]},{"id":"c223a078.dae848","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["b71b5c62.a01e68"]]},{"id":"a5504881.c442d8","type":"comment","z":"318e3463.53696c","name":"Stream to all clients","info":"","x":150,"y":40,"wires":[]},{"id":"273de34b.b5e894","type":"link out","z":"1c4a0adf.6f1c6d","name":"","links":["6668e381.abc15c"],"x":855,"y":500,"wires":[]},{"id":"582a043b.771e44","type":"json","z":"1c4a0adf.6f1c6d","name":"","property":"payload","action":"","pretty":false,"x":490,"y":340,"wires":[["d2b68e45.5ae3d8"]]},{"id":"d2b68e45.5ae3d8","type":"function","z":"1c4a0adf.6f1c6d","name":"extract image","func":"var image = msg.payload.payload;\nmsg.payload = image;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["bc222da0.b477e8"]]},{"id":"af29f58b.1b67e8","type":"mqtt in","z":"1c4a0adf.6f1c6d","name":"","topic":"fousduvolant/+/image/cam/image_array","qos":"1","broker":"f0a34f2f.71734","x":200,"y":340,"wires":[["582a043b.771e44"]]},{"id":"6092201.7da46e","type":"function","z":"1c4a0adf.6f1c6d","name":"pilot/throttle","func":"msg.payload = msg.payload['pilot/throttle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["177d96f7.09c639"]]},{"id":"41d5f97e.dd6b5","type":"ui_gauge","z":"1c4a0adf.6f1c6d","name":"","group":"136a4024.3f49f","order":0,"width":0,"height":0,"gtype":"gage","title":"Steering","label":"units","format":"{{ value | number:2 }}","min":"-1","max":"1","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":880,"y":920,"wires":[]},{"id":"6b1249fe.e4dcb","type":"function","z":"1c4a0adf.6f1c6d","name":"pilot/angle","func":"msg.payload = msg.payload['pilot/angle'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":920,"wires":[["41d5f97e.dd6b5"]]},{"id":"5b906e2e.cdab1","type":"function","z":"1c4a0adf.6f1c6d","name":"cfg/threshold/dynamic/default","func":"msg.payload = msg.payload['cfg/threshold/dynamic/default'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["b5c91557.b49f3"]]},{"id":"e60f4471.6027e","type":"link out","z":"1c4a0adf.6f1c6d","name":"","links":["9d353235.78352"],"x":855,"y":560,"wires":[]},{"id":"a5f9804e.70b25","type":"http in","z":"318e3463.53696c","name":"","url":"/video_processed","method":"get","upload":false,"swaggerDoc":"","x":640,"y":440,"wires":[["97071807.0acc3"]]},{"id":"158c8a24.90f366","type":"comment","z":"318e3463.53696c","name":"contours","info":"","x":180,"y":440,"wires":[]},{"id":"97071807.0acc3","type":"multipart-encoder","z":"318e3463.53696c","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":true,"outputIfAll":true,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":821,"y":440,"wires":[["673c0a28.a8dcfc"]]},{"id":"9d353235.78352","type":"link in","z":"318e3463.53696c","name":"video/processed","links":["e60f4471.6027e"],"x":175,"y":500,"wires":[["a46213d.034ba7"]]},{"id":"a46213d.034ba7","type":"function","z":"318e3463.53696c","name":"format msg","func":"var newMsg = {};\nnewMsg.payload = Buffer.from(msg.payload, 'base64')\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["97071807.0acc3"]]},{"id":"62cb3fc7.ce5d88","type":"ui_text","z":"1c4a0adf.6f1c6d","group":"136a4024.3f49f","order":0,"width":0,"height":0,"name":"","label":"Threshold delta","format":"{{ value }}","layout":"col-center","x":1020,"y":640,"wires":[]},{"id":"175087d7.f5b628","type":"function","z":"1c4a0adf.6f1c6d","name":"cfg/threshold/dynamic/delta","func":"msg.payload = msg.payload['cfg/threshold/dynamic/delta'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["62cb3fc7.ce5d88"]]},{"id":"e8677cf7.b60778","type":"ui_slider","z":"1c4a0adf.6f1c6d","name":"threshold min","label":"threshold min ({{ value }})","group":"136a4024.3f49f","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":"1","x":1120,"y":760,"wires":[[]]},{"id":"36176800.4dc03","type":"function","z":"1c4a0adf.6f1c6d","name":"cfg/threshold/limit/min","func":"msg.payload = msg.payload['cfg/threshold/limit/min'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":760,"wires":[["a5c2b392.308f5"]]},{"id":"b64f6abf.6d8918","type":"ui_slider","z":"1c4a0adf.6f1c6d","name":"threshold max","label":"threshold min ({{ value }})","group":"136a4024.3f49f","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":1120,"y":820,"wires":[[]]},{"id":"a7cc7913.e0a668","type":"function","z":"1c4a0adf.6f1c6d","name":"cfg/threshold/limit/max","func":"msg.payload = msg.payload['cfg/threshold/limit/max'];\n\nif(msg.payload === null){\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["2f0473c1.b0ae9c"]]},{"id":"a5c2b392.308f5","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":760,"wires":[["e8677cf7.b60778"]]},{"id":"2f0473c1.b0ae9c","type":"rbe","z":"1c4a0adf.6f1c6d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":800,"wires":[["b64f6abf.6d8918"]]}]